@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pacific Tours</h1>
    <p>Book Hotels, Tours and Holiday Packages anywhere in the world!</p>

    <div class="mt-3">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Page("/TBooking")'">Tours</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Page("/Booking")'">Hotels</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Page("/PackageBooking")'">Packages </button>
    </div>
</div>
<div>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Page("ManagingDashboard/Index")'">Admin Dashboard</button>
</div>


